/* GLOBAL COLOR TOKENS — keep HEX uppercase for readability */
:root {
  /* brand green */
  --color-primary-100: #CCF4EA;
  --color-primary-300: #8AFFCE;
  --color-primary-500: #00C898;
  --color-primary-600: #01D296;
  --color-primary-650: #09A578;
  --color-primary-700: #00D498;
  --color-primary-750: #248E70;
  --color-primary-800: #006E4F;

  /* accent indigo */
  --color-accent-300: #747BFF;
  --color-accent-500: #646CFF;
  --color-accent-600: #535BF2;

  /* danger / error */
  --color-danger-100: #FFCFCF;
  --color-danger-200: #FFA1A1;
  --color-danger-500: #B80D0D;

  /* neutrals & text */
  --color-gray-900: #1A1A1A;
  --color-gray-850: #213547;
  --color-gray-800: #242424;
  --color-gray-700: #2A2A2A;
  --color-gray-600: #444444;
  --color-gray-500: #595D61;
  --color-gray-400: #818181;
  --color-gray-300: #E3E2E0;
  --color-gray-200: #E6E6E6;
  --color-gray-100: #F5F5F5;
  --color-gray-50 : #F8F9FA;
  --color-gray-25 : #F9F9F9;

  /* utility */
  --color-black   : #000000;
  --color-white   : #FFFFFF;
  --color-white-87: rgba(255,255,255,.87);
}